@model DoAnWebbb.Models.NGUOIDUNG

@{
    ViewBag.Title = "Info";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
}
@using DoAnWebbb.Models
@{
    NGUOIDUNG pm = (NGUOIDUNG)Session["TaiKhoanAD"];
}

<h2 style="text-align:center; color: black; margin-top:10px">Thông tin của bạn</h2>
<form>
    <p id="messageValidate" class="text-danger"></p>
    <table align="center" style="margin-left:25%; width: 40%">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)

            <tr style="height:40px">
                <td style="color: black;">Họ Tên:</td>
                <td>
                    <input disabled id="IHOVATEN" type="text" class="form-control" name="DHHOVATEN" value="@pm.HOVATEN" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color: black;">Mật khẩu:</td>
                <td>
                    <input disabled id="IPASS" type="text" class="form-control" name="IPASS" value="@pm.PASS" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color: black;">Email:</td>
                <td>
                    <input disabled id="IGMAIL" type="text" class="form-control" name="DHGMAIL" value="@pm.GMAIL" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color: black;">Đỉa Chỉ:</td>
                <td>
                    <input disabled id="IDIACHI" type="text" class="form-control" name="DIACHI" value="@pm.DIACHI" />
                </td>
            </tr>
            <tr style="height:40px">
                <td style="color: black;">Điện Thoại:</td>
                <td>
                    <input disabled id="ISDT" type="text" class="form-control" name="DHSDT" value="@pm.SDT" />
                </td>
            </tr>

        }
    </table>
    <div class="form-actions no-color" style="display: flex">
        <div style="margin-left: 10cm">
            @Html.ActionLink("Back to Home", "Index", "HomeAdmin")
        </div>
        <div style="margin-left: 7cm">
            @Html.ActionLink("Đổi mật khẩu", "ChangePass", "HomeAdmin")
        </div>
    </div>


</form>
