@using DoAnWebbb.Models
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/styleSearch.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' })</script>
</head>
<body id="page-top">
    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "HomeAdmin")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="~/Areas/Admin/Content/img/logoAdmin3.png" height="75px" width="75px" />
                </div>
                <div class="sidebar-brand-text mx-3">VNBookStore DVVC</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Home")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tổng Quan</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("LogoutDVVC", "HomeDVVC")">

                    <span>Đăng xuất</span>
                </a>
            </li>


        </ul>

                </nav>

                <div class="container-fluid">

                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng Xuất" bên dưới nếu bạn muốn kết thúc phiên hiện tại.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="@Url.Action("Login", "LoginAdmin")">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.compatibility.js"></script>

    <script src="~/Areas/Admin/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>

    <script src="~/Areas/Admin/Content/js/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/Content/js/chart-pie-demo.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
