@using DoAnWebbb.Models
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    <link href="~/Content/styleSearch.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <link href="~/Areas/Admin/Content/css/sb-admin-2.min.css" rel="stylesheet">

    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' })</script>
</head>
<body id="page-top">
    <div id="wrapper">

        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="@Url.Action("Index", "HomeAdmin")">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="~/Areas/Admin/Content/img/logoAdmin3.png" height="75px" width="75px" />
                </div>
                <div class="sidebar-brand-text mx-3">VNBookStore Admin</div>
            </a>

            <hr class="sidebar-divider my-0">

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "HomeAdmin")">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Tổng Quan</span>
                </a>
            </li>


            <hr class="sidebar-divider">

            <div class="sidebar-heading">
                Danh Mục
            </div>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-camera"></i>
                    <span>Sản Phẩm</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần:</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "QLHang")">Quản lý NCC</a>
                        <a class="collapse-item" href="@Url.Action("Index", "QLLoaiSach")">Quản lý loại sản phẩm</a>
                        <a class="collapse-item" href="@Url.Action("Index", "SanPham")">Quản lý sản phẩm</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "DonHang")">
                    <i class="fas fa-fw fa-money-bill"></i>
                    <span>Đơn Hàng</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Tài Khoản</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Các thành phần</h6>
                        <a class="collapse-item" href="@Url.Action("Index", "TaiKhoan")">Quản lý tài khoản</a>
                    </div>
                </div>
            </li>

            <hr class="sidebar-divider d-none d-md-block">
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>


        </ul>
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <form class="form-inline">
                            @using (Html.BeginForm("SearchName", "SanPham", FormMethod.Get, new { @class = "form-inline" }))
                            {
                                <div class="container h-100">
                                    <div class="d-flex justify-content-center h-100">
                                        <div class="searchbar">
                                            <input class="search_input" value="@ViewBag.Keyword" type="text" name="searchString" placeholder="Search...">
                                            <button href="#" type="submit" class="search_icon">
                                                <i style="color:black" class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </form>
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @if (Session["TaiKhoanAdmin"] != null)
                                {
                                    NGUOIDUNG admin = (NGUOIDUNG)Session["TaiKhoanAdmin"];
                                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">@admin.HOVATEN</span>
                                }
                                <img class="img-profile rounded-circle"
                                     src="~/Areas/Admin/Content/img/avatar1.jpg">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="@Url.Action("Info","HomeAdmin")">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Thông tin cá nhân
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Cài đặt
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("Logout","HomeAdmin")" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Đăng xuất
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>

                <div class="container-fluid">

                    <div>
                        @RenderBody()
                    </div>
                </div>
            </div>

        </div>

    </div>
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đăng Xuất?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Chọn "Đăng Xuất" bên dưới nếu bạn muốn kết thúc phiên hiện tại.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <a class="btn btn-primary" href="@Url.Action("Login", "LoginAdmin")">Đăng Xuất</a>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Areas/Admin/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Areas/Admin/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="~/Areas/Admin/Content/vendor/jquery-easing/jquery.easing.compatibility.js"></script>

    <script src="~/Areas/Admin/Content/js/sb-admin-2.min.js"></script>

    <script src="~/Areas/Admin/Content/vendor/chart.js/Chart.min.js"></script>

    <script src="~/Areas/Admin/Content/js/chart-area-demo.js"></script>
    <script src="~/Areas/Admin/Content/js/chart-pie-demo.js"></script>

    @RenderSection("scripts", required: false)
    @RenderSection("upload", required: false)
</body>
</html>
