@model DoAnWebbb.Models.LOAIMAY

@{
    ViewBag.Title = "DeleteLSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
}

<h2 style="text-align:center; color: black; margin-top:10px">Xóa Loại Sản Phẩm</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.MALOAI, "Mã Loại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" disabled name="MaNCC" id="MaNCC"  value="@Html.DisplayFor(model => model.MALOAI)" style="width: 30%" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TENLOAI, "Tên Loại", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" disabled name="TenNCC" id="TenNCC"  value="@Html.DisplayFor(model => model.TENLOAI)" style="width: 50%" />
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
