@model DoAnWebbb.Models.SANPHAM

@{
    ViewBag.Title = "DeleteSP";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
}

<h2 style="text-align:center; color: black; margin-top:10px">Xóa Sản Phẩm</h2>

<h3>Are you sure you want to delete this?</h3>
<div>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            @Html.LabelFor(model => model.MASANPHAM, "Mã Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" disabled name="MaSPD" id="MaSPD" value="@Html.DisplayFor(model => model.MASANPHAM)" style="width: 30%" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TENSANPHAM, "Tên Sản Phẩm", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" disabled name="TenSPD" id="TenSPD" value="@Html.DisplayFor(model => model.TENSANPHAM)" style="width: 50%" />
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TENSANPHAM, "Hình Ảnh", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Html.DisplayFor(model => model.HINH)" width="125" title="CoverImg"/>
            </div>
        </div>
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
