@using DoAnWebbb.Models
@using PagedList.Mvc;
@model PagedList.PagedList<DoAnWebbb.Models.CT_HOADON>
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutHomeAdmin.cshtml";
}

<h2 style="text-align: center">Thông tin đơn hàng</h2>

<div class="box-body">
    <div class="table-responsive">
        <table class="table no-margin">
            <thead>
                <tr style="color:black">
                    <th>
                        Mã chi tiết HD
                    </th>
                    @*<th>
                        Tổng tiền
                    </th>*@
                    <th>
                        Ngày giao
                    </th>
                    <th>
                        Yêu cầu
                    </th>
                    <th>
                        Mã sản phẩm
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Tên sản phẩm
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr style="color:black">
                        <td>
                            @Html.DisplayFor(modelItem => item.HOADON.MAHD)
                        </td>
                        @if (Html.DisplayFor(modelItem => item.HOADON.TONGTIEN) != null)
                        {
                            Session["Gia"] = Html.DisplayFor(modelItem => item.HOADON.TONGTIEN);
                        }
                        @*<td>
                            @Html.DisplayFor(modelItem => item.HOADON.TONGTIEN)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.HOADON.NGAYGIAO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HOADON.YEUCAU)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.MASANPHAM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SOLUONG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SANPHAM.TENSANPHAM)
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <p>Tổng giá tiền</p>
        <input style="margin: 0 2cm" type="text" disabled name="name" value="@Session["Gia"]" />
        <div style="margin-top: 0.5cm">
            <a class="btn btn-primary" href="@Url.Action("Index")" style="margin-left: 10px; margin-bottom:5px">Quay về</a>
        </div>
    </div>
</div>
